@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: #ebe8e8;

}


body {
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(./assets/pexels-photo-7809122.jpeg);
 
}


a{
    transition: all 0.5s ease-in-out;
  }
  
  a[href^="#"]:hover {
    color: #f00;
  }
  
  
  

/* SECCION NAVBAR */    
    
.bars__menu{
    display: none;
}


.logo {
    width: 200px;
}
header {
    width: 100%;
    margin: auto;
}

nav {   
    background-color: #0b2e59;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 20px 0;
   border-bottom: 3px solid black;
    
}
li {
    list-style: none;
    
    
}
i {
    
    width: 40px;
    font-size: 22px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #ebe8e8;
}
.navbar_list {
    display: flex;
    flex: 1;
    margin-left:20px;
}
.navbar_list li {
    padding: 10px;
}

.navbar_list li a:hover{
    border-bottom: 2px solid #ff0534;
    opacity: 1;
    color: #ff0534;
    
}
.navbar_list li a{
    
    padding: 20px;
}

.user-login,
.cart-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}
/*CARRO COMPRA*/

.comic {
    
  position: absolute;
  top: 60px;
  right: 61%;
  padding: 50px 30px;
background: #870000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 30%;
  border-left: 1px solid var(--nav-bg);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: hidden;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.comic-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}
.cart::-webkit-scrollbar {
  display: none;
}
.comic h2 {
    font-weight: 600;
    color: #ebe8e8;
    font-size: 26px;
    text-transform: uppercase;
}
.divider {
    border-bottom: 3px solid whitesmoke;
}
.btn-buy,
.btn-delete{
    background-color: #141414;
    height: 5%;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index:1; /*Para que quede por encima del resto de las cosas*/
  
    /*Efecto de Glassmorphismo*/
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: block;
    
    
  }
.cart__comic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 20px;
    width: 100%;
}
.cart__comic img {
    width: 30%;
    
}
.comic__price {
    font-size: 30px;
    font-weight: 600;
    color: #506ee5;
}
.comic__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}
.comic-quantity {
    display: flex;
    gap: 30px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #506ee5;
    background-color: #506ee5;
   cursor: pointer;
}


/*  CARRUSEL DE IMAGENES Y AVISO */



body {
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.oculto {
    display: none;
}
.carrusel-imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
   height: 790px;
   
   margin: 0 auto;
}
.container-img{
   
   display: flex;
   justify-content: space-between;
   align-items: center;
   width:90% ;
   height: 700px;
   overflow-x: hidden;
   overflow-y: hidden;
margin-top: -70px;
}
.container-img img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    cursor: pointer;
}
.container-img i {
    color: black;
}
.tienda {
    background-size: cover;
}

.aviso-importante h2 {
    color: #404467;
    background-color: #ece5ce;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10%;
}




/* SECCION DE COMICS  */
.filter_comics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14%;
}

.btn {
    width: 20%;
    height: 60px;
    background-color: #b70e21;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 15px;
    position: relative;
    padding: 10px 15px;
    overflow: hidden;
}
.active {
    background-color: #0b2e59;
    
}
.filter_comics button:hover {
    border: none;
    border-radius: 0;
}
/*ANIMACION BOTON*/
.filter_comics button span {
    position: absolute;
    
    background-color: #0b2e59;
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 2px;
    top:0;
    left:-100%
}
button span:nth-child(2) {
    width: 100%;
    height: 2px;
    bottom:0;
    right:-100%
}
button span:nth-child(3) {
    width: 2px;
    height: 100%;
    bottom:-100%;
    left:0;
}
button span:nth-child(4) {
    width: 2px;
    height: 100%;
    top:-100%;
    right:0;
}
button:hover span:nth-child(1) {
    left: 0;
}
button:hover span:nth-child(2) {
    right: 0;
}
button:hover span:nth-child(3) {
    bottom: 0;
}
button:hover span:nth-child(4) {
    top: 0;
}

.container__section__cards {
    width: 90%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    
 }
.aviso-importante {
    display: flex;
    align-items: center;
    width: 90%;
    flex-direction: column;
    margin-top: -5%;
}

.main-title {
    font-size: 70px;
    font-weight: 600;
    color: #6bacbf;
    position: relative;
    -webkit-text-stroke: 0.3vw #141414;
    text-transform: uppercase;
    white-space : nowrap;
}
.main-title:before {
    content: attr(data-text);
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
   
    height: 100%;
    color:#ff0534;  /*VERDE #01fe87*/
    -webkit-text-stroke: 0vw #ece5ce; /* GRIS RARO #383d52*/
    border-right: 2px solid #ff0534;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

.important_avise {
    margin-top: -5%;
}
.cards-container {
    padding: 20px 0px;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    gap: 30px;
    background-color:#8c2318;
    margin: -3% auto;
    border-radius: 12px;
  }

.cards-container img {
    width: 100%;
    height: 70%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
     }
.card {    /*COMIC QUE VIENEN DE LA API*/
    width: 300px;
    height: 520px;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: #0b2e59;
  border-radius: 15px;
  text-align: center;
  
}
.container__text {
    
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

h3 {
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom:1px solid black ;
    color: #c0c1c2;
}

.comprar  {
    width: 70%;
    height: 30%;
    background-color: #141414;
    color: #ebe8e8;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .3 ease all;
    position: relative;
    overflow: hidden;
}
.comprar::after {
    content: "";
    width: 1px;
    height: 1px;
    background: none ;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transition: .6s ease-in-out all;
    border-radius: 100%;
    transform-origin: center;
}
.comprar:hover::after {
    transform: scale(400);
    background: #ff0534;
}
.comprar p {
    position: relative;
    z-index: 4;
}
span {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
} 
.card:hover {
    transform: translateY(-3%);
    -webkit-box-shadow: 10px 0px 34px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 0px 34px 14px rgba(0,0,0,0.75);
box-shadow: 10px 0px 34px 14px rgba(0,0,0,0.75);
}
.info-comic {
    position: absolute;
    top: 10px;
    left: 3px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    
}
.info-comic i {
    font-weight: 600;
    color: #8c2318;
}

/* PAGINATION */
.container__pagination {
    width: 90%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.pagination {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 20px;
    gap: 10px;
    background-color: #8c2318;
    width: 90%;
}
.pages {
    display: flex;
    align-items: center;
    gap: 10px;
}
.page-number {
    background-color: #141414;
    border: none;
    padding: 5px 10px;  
    height: 30px;
    border-radius: 7px;
    color: #ebe8e8;
    font-weight: 600;
    font-size: 16px;
  }
.left,
.right {
    
    width: 2%;
  background-color: #404467;
  border: none;
  padding: 3px 8px;
  font-size: 0.9rem;
  border-radius: 5px;
  color: #ebe8e8;
  font-weight: 600;
  cursor: pointer;  }

.deshabilitado {    
    cursor: not-allowed;
    opacity: .7;
}



/* ABOUT US */
.about_us {
    margin: 20% auto;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    
}
.primera_seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:dodgerblue;
    border-top: 3px solid black;

}
.img_about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:dodgerblue;
    height: 100%;
    padding: 20px;
}
.img_aboutUs {
    width: 600px;
    height: 450px;
    
}
.information_about {
    height: 90%;
    margin-left: 15%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.information_about h1 {
    font-size: 50px;
    color:#280921;
    font-weight: 600;
    text-transform: uppercase;
}
.information_about p {
    color:#280921;
    font-weight: 600;
    font-size: 20px;
}
.segunda_seccion {
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: column;
    background-color:rgb(217, 168, 168);
    border-bottom: 3px solid black;
    
}

.segunda_seccion h1 {
    font-size: 50px;
    color:#01609f;
    font-weight: 600;
    margin-left: -25%;
    text-transform: uppercase;
}
.logo_about {
    width: 10%;
}
.seccion_pago {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container_mediosPagos {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 30px;
    margin-left: -5%;
}
.container_mediosPagos img {
    width: 100px;
    height: 90px;
}
.mercado_pago {
    display: flex;
    gap: 20px;
    cursor:pointer;
    
}
.mercado_pago span {
    margin-top: 7.5%;
    color: #01609f;
}
.tarjeta_credito {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor:pointer;
}
.tarjeta_credito span {
    
    color: #01609f;
}
.transferencia {
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor:pointer;
}
.transferencia span {
    margin-top: 2%;
    color: #01609f;
}
.img_dinero {
    width: 50%;
    display: grid;
    place-content: center;
    height: 500px;
    margin-right: -12.5%;
}
.img_dinero img {
    width: 600px;
    height: 450px;
}

/*Comentarios google*/
.title_opinion {
    font-size: 4em;
    color:whitesmoke;
}
.opiniones_clientes {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.comentarios { 
    background-color:#fff;
    margin: 1em;
    padding: 1em;
    text-align: center;
    position: relative;
    border: .1em solid #141414;
    box-shadow: 0 .5em 1em #141414;
    flex: 1 1 30em;
    border-radius: .5em;
}

 .fa-comment-dots {
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 3em;
    color: #141414;
}
.user img {
    border-radius: 50%;
    object-fit: cover;
    height: 7em;
    width: 7em;
    margin-top: 2em;
}
.user h3 {
    color: #b70e21;
    font-size: 2em;
}
.stars i {
    color: #0b2e59;
    font-size: 1.5em;
    padding: 1em 0;
}
.comentarios_cliente {
    color: #000;
    font-size: 1.2em;
    padding: 1em;
}
/* ZONA CONTACTO */

.container__contact{
    
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    width: 190%;
}
.h1__contact {
    text-align: center;
    font-size: 3em;
    color: white;
    margin: 20px;
}
.h1__contact span {
    color: #b70e21;
}
.contact__form {
    box-shadow: 0 0 20px 0 rgba(255,255,255, .3);
    
}
.contact__form > * {
    padding: 1em;
}

.contact__usuario {
    background-color: #222222;
    font-size: 19px;
}
.contact__usuario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact__usuario form  .block {
    grid-column: 1 / 3;
}
.contact__usuario form p {
    margin: 0;
    padding: 1em;
}
.contact__usuario form button,
.contact__usuario form input,
.contact__usuario form textarea {
    width: 100%;
    padding: 1.7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
    
}
.contact__usuario form button {
    background-color: #b70e21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: #000;
}
.contact__usuario form button:hover,
.contact__usuario form button:focus {
    background: #d63031;
    color: white;
    font-weight: 600;
    transition: background-color 1s ease-out;
    
}
.contact__info {
    background: #000;
}

.contact__info h4,
.contact__info ul,
.contact__info i {
    text-align: center;
    margin: 0 0 1rem 0;
    color: white;
    font-size: 15px;
    font-weight: 0;

}
.contact__info ul {
    list-style: none;
    padding: 0;
}
.contact__info ul li {
    padding: .3em;
}

/*ZONA FOOTER*/
footer{
    width: 100%;
    
}
.footer{
    height: 200px;
    background-color: #18191f;
}
.redes_sociales {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

#facebook,
#twitter,
#instagram,
#linkedin {
    font-size: 4em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080, 2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: colorShadow 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}
#facebook {
    animation-delay: 0.3s;
}
#twitter {
    animation-delay: 0.7s;
}
#github {
    animation-delay: 0.1;
}